body {
 font-family: "Gill Sans Pro", Arial, sans-serif;
}

h3 {

}

h4 {
  
}

h5 {
  margin-bottom: 1px; 
  margin-top: 1px;
}

p {
  margin-bottom: 1px; 
  margin-top: 1px;
}

p.newsfooter {
  font-size: 8pt;
  font-style:italic;
}

hr {
  
}

.newsitem {
  
}
